// Adding custom font
@font-face {
  font-family: 'great_vibesregular';
  src: url('./css/fonts/webfontkit-20210320-182856/greatvibes-regular-webfont.woff2') format('woff2'),
       url('./css/fonts/webfontkit-20210320-182856/greatvibes-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

// Custom Style CSS
body {
  overflow-x: hidden;
}

.shadow-custom-navbar {
  box-shadow: 2px 0px 5px #707070;
}

.card {
  img {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) ;
  }
}


.vibe-font {
  font-family: 'great_vibesregular';
  
}


.xsm-text-class {
  font-size: 0.9rem;
}


/* Color doesn't work, use fill: */
.back-icon:hover {
  cursor: pointer;
  fill: #000;
}


.edit-profile {
  font-size: 0.9rem;
}

.edit-profile input {
  font-size: 0.85rem;
}

/* CHEVRON */
.bi-chevron-down {
  cursor: pointer;

}

.chevron-animation-open {
  transform: rotate(-540deg);
  transition: 0.4s;
}

.chevron-animation-close {
  transform: rotate(180deg);
  transition: 0.4s;
}


/* Box */
.message_box {
  max-width: 500px;
  position: absolute;
  z-index: 1;
  top: 100px;
  opacity: 0;
  right: -544px;
}

.application_box {
  max-width: 500px;
  position: absolute;
  z-index: 1;
  top: 100px;
  opacity: 0;
  right: -544px;
}

.profile_box {
  max-width: 500px;
  position: absolute;
  z-index: 1;
  top: 100px;
  opacity: 0;
  right: -544px;
}