@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
.bg-color-light-purple {
  background-color: #c29ffa;
}

.bg-color-light-green {
  background-color: #a3cfbb;
}

.bg-color-light-blue {
  background-color: #6ea8fe;
}

.bg-color-light-yellow {
  background-color: #ffe69c;
}

.bg-color-light-red {
  background-color: #f1aeb5;
}

.bg-color-light-gray {
  background-color: #dee2e6;
}

.bg-color-light-cyan {
  background-color: #9eeaf9;
}

body {
  overflow-x: hidden;
}

.shadow-custom-navbar {
  box-shadow: 2px 0px 5px #707070;
}

.calistoga-font {
  font-family: 'Calistoga', cursive;
}

.xsm-text-class {
  font-size: 0.9rem;
}

/* Color doesn't work, use fill: on svg */
.back-icon:hover {
  cursor: pointer;
  fill: #000;
}

.edit-profile {
  font-size: 0.9rem;
}

.edit-profile input {
  font-size: 0.85rem;
}

/* CHEVRON */
.bi-chevron-down {
  cursor: pointer;
}

.chevron-animation-open {
  transform: rotate(-540deg);
  transition: 0.4s;
}

.chevron-animation-close {
  transform: rotate(180deg);
  transition: 0.4s;
}

/* Box */
.js-message-box {
  max-width: 500px;
  position: absolute;
  z-index: 1;
  top: 100px;
  opacity: 0;
  right: -544px;
}

.application_box {
  max-width: 500px;
  position: absolute;
  z-index: 1;
  top: 100px;
  opacity: 0;
  right: -544px;
}

.profile_box {
  max-width: 500px;
  position: absolute;
  z-index: 1;
  top: 100px;
  opacity: 0;
  right: -544px;
}

.publish_job_box {
  max-width: 768px;
  position: absolute;
  z-index: 1;
  top: 100px;
  opacity: 0;
  right: -544px;
}

.js-update-publish-job-form {
  max-width: 768px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 50%;
  right: -544px;
}

.js_hr_box {
  max-width: 768px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  right: -544px;
}

.js-motivation-speech {
  max-width: 768px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0px;
  right: -544px;
}

.js-confirm-approve {
  max-width: 768px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  right: -544px;
}

.js-send-msg-hr-box {
  width: 500px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  right: -544px;
}

.js-send-msg-company-box {
  width: 500px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  right: -544px;
}

.js-upload-logo-box {
  max-width: 320px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  right: -544px;
}

.tooltip-icon {
  cursor: pointer;
  transition: 0.3s;
}

.tooltip-icon:active {
  transform: scale(0.95);
}

.hover-msg-box:hover {
  cursor: pointer;
}

.cursor-pointer:hover {
  cursor: pointer;
}

.transform-scale {
  transition: 0.2s;
}

.transform-scale:active {
  transform: scale(0.9);
}

.js-overflow-y-scroll {
  overflow-y: scroll;
}

.js-h-600px {
  height: 600px;
}

@media (max-width: 768px) {
  .js-send-msg-box-md {
    width: 300px;
  }
  .w-1400px {
    width: 1400px;
  }
}
